<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link href="/stylesheets/landing.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>About us</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Sports-Blog</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/articles/">Blog Page</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>We are BSCS students and we are learning Web Development with our Best Sir Nauman Saleem</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/images/salman.jpg" alt="Salman" style="width:100%" height="300">
            <div class="container">
              <h2>Salman Nadeem</h2>
              <p class="title">Student of BSCS</p>
              <p>I am BSCS Student in Last Semester, I am Learning Web Development Course Which i am really enjoying.</p>
              <p>s2018266002@umt.edu.pk</p>
              <p><a href="https://www.google.com">Contact</a></p>
              
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/ziaullah.jpg" alt="Ziaullah" style="width:100%" height="300">
            <div class="container">
              <h2>Zia Ullah</h2>
              <p class="title">Cloud Expert</p>
              <p>I am BSCS Student in Last Semester, I am Learning Web Development Course Which i am really enjoying.</p>
              <p>s2018266005@umt.edu.pk</p>
              <p><a href="https://www.google.com"> Contact </a></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/wajid.jpeg" alt="Wajid" style="width:100%" height="300px">
            <div class="container">
              <h2>Syed Wajid Ali</h2>
              <p class="title">Designer</p>
              <p>I am BSCS Student in Last Semester, I am Learning Web Development Course Which i am really enjoying.</p>
              <p>s2018266010@umt.edu.pk</p>
              <p><a href="https://www.google.com">Contact</a></p>
            </div>
          </div>
        </div>
      </div>


      <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    
      <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
         <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://www.facebook.com/SalmanNadeem41"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://www.twitter.com/salmannadeem41"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://mail.google.com/"
              role="button"
              ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://www.instagram.com/salmannadeem/"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://www.linkedin.com/in/salman-nadeem-29b23b22b"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Github -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://github.com/salmannadeem41/"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2020 Copyright:Salman
        </div>
        <!-- Copyright -->
      </footer>
    </div>
<!-- Grid container -->

        <!-- Copyright -->
        
    <!-- End of .container -->
  </body>
</html>
