<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pic Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <link href="/stylesheets/landing.css" rel="stylesheet" />

  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #212529;
      color: white;
      text-align: center;
    }
  </style>
  <style>
    /* Style the body */
    body {
      font-family: Arial;
      margin: 0;
    }

    /* Header/Logo Title */
    .header {
      
      padding: 60px;
      text-align: center;
      background: #1b201f;
      color: white;
      font-size: 25px;
    }
    

    .contain{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .button {
      position: relative;
      text-align: center;
      width: 250px;
      padding: 40px;
      font-size: 20px;
      margin-left: 550px;
      margin-top: 55px;
      font-family: poppins;
      font-weight: 400;
      border: 5px solid #15f4ee;
      border-radius: 100px;
      cursor: pointer;
      transition: 1.5s;
    }

    .button:hover{
      box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
                  0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
      text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee ;
    }
    
    .body{
      margin: 0;
      padding: 0;
      background-color: black;
    }
    
  </style>
</head>

<body style=" overflow: hidden;" class="body">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Sports-Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/articles/">Blog Page</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header">
    <h1>Sports Blog</h1>
    <p>A human activity involving physical exertion and skill as the primary focus of the activity, with elements of
      competition or social participation where rules and patterns of behaviour governing the activity exist formally
      through organisations and is generally recognised as a sport.</p>
  </div>

</div class="conatin">
<a class="button" href="/articles/">SHOW POSTS</a>
</div>


  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

  <footer class="footer">

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:Salman
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>